@CHARSET "UTF-8";

body {
	background-color: #EEEEEE;
	padding-top: 60px;
}

#header > div.container > nav.navbar-collapse {
	height: 0.8px;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .btn-primary{
	margin-top:15px;
}
.form-signin-heading {
	margin-top: 10px;
}

a:hover .badge {
	background-color: #428BCA;
}
.label-fix {
	padding-top: 0px;
}


/* .info {
	color: #777777;
} */